
.flip-card {
    background-color: transparent;
    width: 70%;
    height: auto;
    
    padding-bottom: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 3px 5px 0 black;
}

.flip-card-front {
    background-color: #282c34;
    color: whitesmoke;
    cursor: pointer;
}


.flip-card-back {
    background-color: lightgrey;
    color: black;
    height: auto;
}

.exerciseList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}

form {
    padding-right: 10%;
    padding-bottom: 3%;
    
}

select {
    margin: 2px;
}
.submit {
    width: 100px;
}

